@bit:registry=https://node.bit.dev
# For token authentication see: https://harmony-docs.bit.dev/bit-dot-dev/authentication/#additional-tokens
//node.bitsrc.io/:_authToken=58c5a4c4-6486-4fb4-834d-265295eb32fe
//node.bit.dev/:_authToken=58c5a4c4-6486-4fb4-834d-265295eb32fe
@kargo:registry=https://node.bit.dev
